unity-poweredup/Library
unity-poweredup/Temp
unity-poweredup/obj
/unity-poweredup/*.exe
/unity-poweredup/*_Data

*.csproj
*.sln
*.userprefs
log.log
build_ios
TestResults

*~
*.tmp
unity-poweredup/unity-poweredup.sln.DotSettings.user
unity-poweredup/Assets/VSCode/
unity-poweredup/Assets/VSCode.meta
unity-poweredup/.vscode/
unity-poweredup/.vs/

unity-poweredup/Assets/JetBrains/
unity-poweredup/Assets/JetBrains.meta
unity-poweredup/.idea/

builds/*
unity-poweredup/Assets/.idea/
\.DS_Store

# Git
!.gitattributes
!.gitignore
unity-poweredup/ProjectSettings/AndroidResolverDependencies.xml
unity-poweredup/Assets/Plugins/Android/com.android.support.support-annotations-23.0.0.jar.meta
unity-poweredup/Assets/Plugins/Android/com.android.support.customtabs-23.0.0.aar
unity-poweredup/Assets/Plugins/Android/com.android.support.customtabs-23.0.0.aar.meta
unity-poweredup/Assets/Plugins/Android/com.android.support.support-annotations-23.0.0.jar
