# Git
!.gitattributes
!.gitignore

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/

# JetBrains Rider
JetBrains/
JetBrains.meta
.idea/

# Solution and project files
*.csproj
*.sln
*.sln.DotSettings.user

# Microsoft Visual Studio
unity-working-copy/.vs/